<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gat">

    <uses-sdk tools:overrideLibrary="timber.log"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera.flash"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".common.BootstrapApplication">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdbNymTKE4CoWfTx8dNfCCi3agZpmedkU"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="vIBZ8MK2CilwwgkIGhBv09Fjf"
            />
        <activity android:name=".feature.message.MessageActivity">

        </activity>

        <activity android:name=".feature.message.GroupMessageActivity">

        </activity>

        <activity android:name=".feature.search.SearchActivity">
        </activity>

        <activity android:name=".feature.login.LoginActivity">
        </activity>
        <activity android:name=".feature.register.update.location.AddLocationActivity">

        </activity>

        <activity android:name=".feature.register.update.category.AddCategoryActivity">

        </activity>
        <activity android:name=".feature.register.RegisterActivity">

        </activity>
        <activity android:name=".feature.register.update.info.UpdateInfoActivity" >

        </activity>
        <activity android:name=".feature.login.ForgotPassword.ForgotPasswordActivity" >
        </activity>

        <activity android:name=".feature.login.ForgotPassword.ResetPasswordActivity" >
        </activity>
        <activity android:name=".feature.login.ForgotPassword.VerifyResetTokenActivity" >
        </activity>

        <activity android:name="com.gat.feature.editinfo.EditInfoActivity" />
        <activity android:name="com.gat.feature.personaluser.PersonalUserActivity" />
        <activity android:name="com.gat.feature.bookdetailrequest.BookDetailRequestActivity" />
        <activity android:name="com.gat.feature.bookdetailborrow.BookDetailBorrowActivity" />
        <activity android:name=".feature.start.StartActivity"
            android:theme="@style/DefaultScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".feature.main.MainActivity" >
        </activity>

        <activity android:name=".feature.suggestion.nearby_user.ShareNearByUserDistanceActivity" >
        </activity>

        <activity android:name=".feature.suggestion.search.SuggestSearchActivity" >
        </activity>

        <activity android:name=".feature.book_detail.BookDetailActivity" >
        </activity>

        <activity android:name=".feature.book_detail.add_to_bookcase.AddToBookcaseActivity" >
        </activity>

        <activity android:name=".feature.book_detail.comment.CommentActivity" >
        </activity>

        <activity android:name=".feature.book_detail.list_user_sharing_book.ListUserSharingBookActivity" >
        </activity>

        <activity android:name=".feature.book_detail.self_update_reading.SelfUpdateReadingActivity" >
        </activity>

        <activity android:name=".feature.book_detail.share_book.ShareBookActivity" >
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>

        <service
            android:name=".data.service.FetchAddressIntentService"
            android:exported="false"/>
        <service
            android:name=".data.firebase.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".data.firebase.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1937935059771206"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>
